﻿@{
    ViewBag.Title = "Home Page";
}
@model MessageQueue.Website.Models.UnsubcribeModel

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="jumbotron">
        <h1>Unsubscribe</h1>
        <p class="lead">Enter your email address and click unsibscribe</p>
        <p> @Html.TextBoxFor(x => x.Email)</p>
        <p><button class="btn btn-primary btn-lg" type="submit">Unsubscribe&raquo;</button>
        </p>
    </div>
}

@using (Html.BeginForm("UnsubscribeWithTransaction", "Home", FormMethod.Post))
{
    <div class="jumbotron">
        <h1>Unsubscribe</h1>
        <p class="lead">Transactional Queue</p>
        <p> @Html.TextBoxFor(x => x.Email)</p>
        <p>
            <button class="btn btn-primary btn-lg" type="submit">Unsubscribe&raquo;</button>
        </p>
    </div>
}